<html>
  <head>
    <title>ToDo App</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100"
      rel="stylesheet"
    />
    <link href="/styles.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <h2>A ToDo List App</h2>

      <form action="/addtask" method="POST">
        <input type="text" name="newtask" placeholder="add new task" />
        <button>Add Task</button>

        <h2>Added Task</h2>

        <% for( var i = 0; i < task.length; i++){ %>
        <li>
          <input type="checkbox" name="check" value="<%= task[i] %>" /> <%=
          task[i] %>
        </li>
        <% } %>

        <button formaction="/removetask" type="submit" id="top">Remove</button>
      </form>

      <h2>Completed task</h2>

      <% for(var i = 0; i < complete.length; i++){ %>
      <li><input type="checkbox" checked /><%= complete[i] %></li>
      <% } %>
    </div>
  </body>
</html>
