* {
  font-family: 'lato', sans-serif;
  font-weight: bold;
}

body {
  background: rgb(200, 235, 238);
  color: #333333;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}
